@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
  color: #18181a;
  margin: 0 20px;
}

h1 {
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.highlight {
  background-color: #FFE144;
}